.logo__mod{
  display: flex;
  text-align: center;
  color : rgb(48, 63, 159);
}
.logo__modicon>h3:hover{
  color : rgb(48, 63, 159);
  color : rgb(28, 106, 255);
}
.logo__modicon{
  display: flex;
  text-decoration: none;
}
.logo {
  object-fit: contain;
  height: 30px;
  width: auto;
  transition: transform .7s ease-in-out;
}
.logo:hover{
  transform: rotate(360deg);
}


